.reveal .slide-background.present {
  opacity: 0.4;
}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.5em
}

.reveal pre code {
  max-height: none;
}
